In [5]:
a=int(input("enter the value"))
b=int(input("enter the value"))
if a==b:
     print("it is a square")
else:
     print("not a square")

enter the value 33
enter the value 33

it is a square

In [7]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))
d=int(input("enter the value"))

x= [a, b, c, d]

if max(x):
    print("the oldest one is",max(x))

enter the value 22
enter the value 55
enter the value 97
enter the value 12

the oldest one is 97

In [8]:
a=int(input("enter the value a"))
b=a%5
c=a%7

if b and c:
    print("the number is divisible by 5 and 7")
else:
    print("not divisible by both 5 and 7")

enter the value a 345

not divisible by both 5 and 7

In [25]:
a=int(input("enter the cost of bike"))
b=a>=100000
c=50000<a<100000
d=a<50000
if b:
   print("the total value of bike including all taxex and discount is",a+(a*0.15)-(a*0.06))
elif c:
    print("the value of bike including all taxex and discount is",a+(a*0.1))
elif d:
        print("the value of bike including all taxex and discount is",a+(a*0.05))

enter the cost of bike 67443

the value of bike including all taxex and discount is 74187.3

In [40]:
x=int(input("enter the marks"))
a=x<25
b=25<=x<45
c=45<=x<50
d=50<=x<60
e=60<=x<80
f=80<=x<=100
g=x>100
h=x<0

if g:
    print("Invalid marks!!!")
elif h:
    print("Invalid marks!!!")
elif a:
    print("the grade is F")
elif b:
    print("the grade is E")
elif c:
    print("the grade is D")
elif d:
    print("the grade is C")
elif e:
    print("the grade is B")
elif f:
    print("the grade is A")

enter the marks 78

the grade is B

In [48]:
char=input("enter the letter")
str1="aeiouAEIOU"
if char in str1:
    print("vowel")
else:
    print("consonent")

enter the letter aaa

consonent

In [59]:
'''
loop 
for loop is used to iteration, if we know the number of times the loop have to run.it is used to iterate the iterables eg(string, list, tuple, etc.,,)
todo ---> syntax for loop
for syntax in c
for(i=0;i<10;i++){
    printf("hello")
    }
for syntax in python
for user defined variable in range(start, end, step): default step value is 1
  statement
  statement
  statement
  '''
for i in range(0,10):
    print(i)
    print("hello")

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

In [63]:
for val in range(23, 50, 2):
    print(val)

23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [76]:

for i in range(1, 11, i++):
    i=="*"
    print("*")

SyntaxError: invalid syntax (1957168500.py, line 1)

In [110]:
i=0
for val in range(1, 100+1):
    i=val
    print("7 X",i,"=", val*7)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
7 X 13 = 91
7 X 14 = 98
7 X 15 = 105
7 X 16 = 112
7 X 17 = 119
7 X 18 = 126
7 X 19 = 133
7 X 20 = 140
7 X 21 = 147
7 X 22 = 154
7 X 23 = 161
7 X 24 = 168
7 X 25 = 175
7 X 26 = 182
7 X 27 = 189
7 X 28 = 196
7 X 29 = 203
7 X 30 = 210
7 X 31 = 217
7 X 32 = 224
7 X 33 = 231
7 X 34 = 238
7 X 35 = 245
7 X 36 = 252
7 X 37 = 259
7 X 38 = 266
7 X 39 = 273
7 X 40 = 280
7 X 41 = 287
7 X 42 = 294
7 X 43 = 301
7 X 44 = 308
7 X 45 = 315
7 X 46 = 322
7 X 47 = 329
7 X 48 = 336
7 X 49 = 343
7 X 50 = 350
7 X 51 = 357
7 X 52 = 364
7 X 53 = 371
7 X 54 = 378
7 X 55 = 385
7 X 56 = 392
7 X 57 = 399
7 X 58 = 406
7 X 59 = 413
7 X 60 = 420
7 X 61 = 427
7 X 62 = 434
7 X 63 = 441
7 X 64 = 448
7 X 65 = 455
7 X 66 = 462
7 X 67 = 469
7 X 68 = 476
7 X 69 = 483
7 X 70 = 490
7 X 71 = 497
7 X 72 = 504
7 X 73 = 511
7 X 74 = 518
7 X 75 = 525
7 X 76 = 532
7 X 77 = 539
7 X 78 = 546
7 X 79 = 553
7 X 80 = 560
7 X 81 = 567
7 X 82 = 574
7 X 83 = 581
7 X 84 = 588
7 X 85 = 595
7 X 86 = 602
7 X 87 = 609
7 X 88 = 616
7 X 89 = 623
7 X 90 = 630
7 X 91 = 637
7 X 92 = 644
7 X 93 = 651
7 X 94 = 658
7 X 95 = 665
7 X 96 = 672
7 X 97 = 679
7 X 98 = 686
7 X 99 = 693
7 X 100 = 700

In [112]:
for val in range(1, 100+1):
    ans="7 X {} = {}"
    print(ans.format(val, val*7))

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
7 X 13 = 91
7 X 14 = 98
7 X 15 = 105
7 X 16 = 112
7 X 17 = 119
7 X 18 = 126
7 X 19 = 133
7 X 20 = 140
7 X 21 = 147
7 X 22 = 154
7 X 23 = 161
7 X 24 = 168
7 X 25 = 175
7 X 26 = 182
7 X 27 = 189
7 X 28 = 196
7 X 29 = 203
7 X 30 = 210
7 X 31 = 217
7 X 32 = 224
7 X 33 = 231
7 X 34 = 238
7 X 35 = 245
7 X 36 = 252
7 X 37 = 259
7 X 38 = 266
7 X 39 = 273
7 X 40 = 280
7 X 41 = 287
7 X 42 = 294
7 X 43 = 301
7 X 44 = 308
7 X 45 = 315
7 X 46 = 322
7 X 47 = 329
7 X 48 = 336
7 X 49 = 343
7 X 50 = 350
7 X 51 = 357
7 X 52 = 364
7 X 53 = 371
7 X 54 = 378
7 X 55 = 385
7 X 56 = 392
7 X 57 = 399
7 X 58 = 406
7 X 59 = 413
7 X 60 = 420
7 X 61 = 427
7 X 62 = 434
7 X 63 = 441
7 X 64 = 448
7 X 65 = 455
7 X 66 = 462
7 X 67 = 469
7 X 68 = 476
7 X 69 = 483
7 X 70 = 490
7 X 71 = 497
7 X 72 = 504
7 X 73 = 511
7 X 74 = 518
7 X 75 = 525
7 X 76 = 532
7 X 77 = 539
7 X 78 = 546
7 X 79 = 553
7 X 80 = 560
7 X 81 = 567
7 X 82 = 574
7 X 83 = 581
7 X 84 = 588
7 X 85 = 595
7 X 86 = 602
7 X 87 = 609
7 X 88 = 616
7 X 89 = 623
7 X 90 = 630
7 X 91 = 637
7 X 92 = 644
7 X 93 = 651
7 X 94 = 658
7 X 95 = 665
7 X 96 = 672
7 X 97 = 679
7 X 98 = 686
7 X 99 = 693
7 X 100 = 700

In [235]:
for val in range(1, 10+1):
 for space in range(1, (10+val)+1):
    n="*"
    while n==(10*val-1):
        print(n, end="  ")
        n+=1
    print(n)

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [211]:


k = 0

for i in range(1, 10):
    for space in range(1, (10-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *

In [ ]:
'''
while loop
while is the used when we do not know the number of times the loop have to run to iterate the non iterable elements while loop is used

syntax 
while condition:
   statement
   incre or decre
   '''
i = 1
while i<11:
    print(i)

In [2]:
for i in range(12, 37+1):
    i= i+i
    print(i)

24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74

In [ ]:
i=0
while i<11:
    i+=1
    print(i)